* {
    padding: 0;
    
  }
  body {
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/1.jpg');
    background-size:cover;
    background-repeat: no-repeat;
  }
  .calculator {
    width: 400px;
    height: 500px;
    background-color: #e4e2e2ec;
    box-shadow: 20px 20px 1px #00000020, 0px 0px 8px  #ffff;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 2px 15px;
  }
  #display {
    width: 350px;
    height: 60px;
    text-align: right;
    padding-right: 10px;
    background-color: black;
    border: 1px solid white;
    font-size: 24px;
    top: 2px;
    color: #72e500;
  }
  .topBtn{
    color: white;
    background-color: #bcbbbb;
    font-size: 18px;
  }
  .numBtn {
    color: white;
    background-color: rgb(49, 48, 48);
    font-size: 15px;
  }
  .operatorBtn {
    color: white;
    background-color: #7fc9df;
    font-size: 18px;
  }
  .advBtn {
    color: black;
    background-color: #ffff70;
    font-size: 15px;
  }
  .clear{
    background-color: red;
  }
  .btn{
    border: none;
    box-shadow: 5px 5px 8px #00000020, -5px -5px 10px  #ffff;
    width: 60px;
    height: 35px;
    margin: auto;
    cursor: pointer;
    border-radius: 3px;
  }
  .btn:hover{
    box-shadow:inset 5px 5px 8px #00000020, -5px -5px 8px  #ffff;
  }
